// /* All Use components */
// Color
@use '@material/theme' with (
  // Dark-ish theme
  $primary: #07103f,
  $secondary: white,
  $surface: black,
  $background: #07103f,
  $on-surface: white,
  $on-primary: white,
);
// Must be configured before any other use/import that imports MDC styles
@use '@material/button/styles';
// Theme
@use "@material/theme/custom-properties";
// Customize button
@use "@material/button";
// Top app bar
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
// Grid
@use "@material/layout-grid/mdc-layout-grid";
// Typography
@use '@material/typography/mdc-typography';
// Tabs
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
// Drawer
@use "@material/drawer";
@use "@material/list";
@use '@material/list/mdc-list';

/* All include components */
// Top app bar
@include icon-button.core-styles;
// Drawer
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;

* {
  // Toggle Comment border stye & color (on/off) to see layout border.
  // border-style: solid;
  // border-color: #c22b10;

  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body,
html {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
}

main {
  margin: 0 auto;
}

.main-content {
  overflow: auto;
  height: 100%;
  margin: 0 10vw;
  padding: 50px 32px 32px;
}

.hero-image {
  width: 100%;
  height: fit-content;
}

/* Reset List Styles */
.navList {
  list-style: none;
  height: 32px;
  padding-left: 0;
}

/* Style the list items side by side */
.navListItem {
  display: inline-block;
  margin: 0 8px;
}

/* Style Top App Bar */
.mdc-top-app-bar {
  border-bottom: 1px solid #ddd;
}

/* Hide on mobile */
.mdc-top-app-bar__title {
  display: none;
}

.navListLink {
  color: var(--mdc-theme-secondary);
}

.homeLink {
  color: var(--mdc-theme-secondary);
  text-decoration: none;
  display: inline-block;
}

/* Override Collapse Width */
.mdc-top-app-bar--short-collapsed.mdc-top-app-bar--short-has-action-item {
  width: 310px;
}

@media (min-width: 600px) {
  .mdc-top-app-bar__title {
    display: block;
  }
}
