/* All Material Styles */

// To change your theme's color scheme, replace the existing HEX color values
// with custom HEX color values. Use our color palette generator to help come up
// with pairings and check your color contrast.
// https://material.io/design/color/the-color-system.html#tools-for-picking-colors

// Primary colors ($mdc-theme-primary) map to components such as app bars and
// buttons, while secondary colors ($mdc-theme-secondary) are used as accents on
// components such as FABs and selection controls.

// “On-” colors define how text, icons, and strokes are colored in relation to
// the surface on which they appear. If you are updating these manually, be sure
// to consider accessible color contrast for the value pairs.

// Theme background ($mdc-theme-background) appears behind scrollable content.
// Surface color ($mdc-theme-surface) is mapped to the surface of components
// such as cards, sheets, and menus. Error color ($mdc-theme-error) is used to
// indicate an error state for components such as text fields provided with
// inaccurate input.

// Color
@use "@material/theme" with (
  $primary: #dfdfdf,
  $secondary: #000,
  $on-primary: #000,
  $on-secondary: #fff,
  $on-error: #fff,
  $on-surface: #000,
  $background: #fff,
  $surface: #fff,
  $error: #c22b10
);

// Use all components
@use "@material/button/mdc-button";
@use "@material/theme/custom-properties";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/typography/mdc-typography";
@use "@material/button/styles";
@use "@material/icon-button";
@use "@material/button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/banner";

// Include all components
@include icon-button.core-styles;
.foo {
  @include theme.property(color, custom-properties.create(--foo-color, red));
}

.accessible-button {
  @include button.filled-accessible(gray);
}

// grid
:root {
  --mdc-layout-grid-margin-desktop-hd: 32px;
  --mdc-layout-grid-gutter-desktop-hd: 32px;
  --mdc-layout-grid-column-width-desktop-hd: 69px;
  --mdc-layout-grid-margin-desktop: 32px;
  --mdc-layout-grid-gutter-desktop: 32px;
  --mdc-layout-grid-column-width-desktop: 51px;
  --mdc-layout-grid-margin-tablet: 32px;
  --mdc-layout-grid-gutter-tablet: 32px;
  --mdc-layout-grid-column-width-tablet: 64px;
  --mdc-layout-grid-margin-phone: 16px;
  --mdc-layout-grid-gutter-phone: 16px;
  --mdc-layout-grid-column-width-phone: 115px;
}

* {
  // Toggle Comment border stye & color (on/off) to see layout border.
  // border-style: solid;
  // border-color: #c22b10;

  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body,
html {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration-line: none;
}

a:hover,
a button:hover {
  color: darkgrey;
}

.mdc-banner {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 50px;
  background-color: darkblue;
  height: 75px;
  width: 100%; 
}

.mdc-banner__text {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 40%;
  float: left;
  color: #FAF9F6;
}

.mdc-banner__actions a {
  position: absolute;
  margin-top: 20px;
  margin-left: 15px;
  font-size: 20px;
  color: #f5f4f2;
  float: right;
  text-decoration: underline;
  text-decoration-color: lightgray;
  text-underline-offset: 1px;
}

.about-space-apps-pasadena-text {
  padding-bottom: 100px;
}

.about-local-lead-section {
  background-color: #ebebeb;
}

.footer {
  background-color: #dfdfdf;
}

.footer-item {
  color: #000;
  margin-bottom: 1rem;
  margin-right: 2.5rem;
  font-size: 0.875em;
  font-family: 'Roboto';
  font-weight: normal;
}

// TODO: Add Images
// .hero-image .hero-image-container {
//   background-image: (hero-image-768.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 100%;
//   width: 100%;

//   @media only screen and (min-width: 1100px) {
//     background-image: (hero-image-1400.jpg);
//   }

//   @media only screen and (min-width: 768px) {
//     background-image: (hero-image-1100.jpg);
//   }
// }

// .about-local-lead-image {
// }
