/* All Use components */
// Color
@use "@material/theme" with (
  $primary: #07103F,
  $secondary: #ee2c3e,
  $on-primary: #fff,
  $on-secondary: #000,
  $on-error: #fff,
  $on-surface: #000,
  $background: #07103F,
  $surface: #fff,
  $error: #c22b10
);
// button
@use "@material/button/styles";
// customize button
@use "@material/button";
// top app bar
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
// grid
@use "@material/layout-grid/mdc-layout-grid";
// typography
@use "@material/typography/mdc-typography";
// customize banner
@use "@material/banner";

/* All include components */
// top app bar
@include icon-button.core-styles;

/* Layout */
// grid
:root {
  --mdc-layout-grid-margin-desktop-hd: 32px;
  --mdc-layout-grid-gutter-desktop-hd: 32px;
  --mdc-layout-grid-column-width-desktop-hd: 69px;
  --mdc-layout-grid-margin-desktop: 32px;
  --mdc-layout-grid-gutter-desktop: 32px;
  --mdc-layout-grid-column-width-desktop: 51px;
  --mdc-layout-grid-margin-tablet: 32px;
  --mdc-layout-grid-gutter-tablet: 32px;
  --mdc-layout-grid-column-width-tablet: 64px;
  --mdc-layout-grid-margin-phone: 16px;
  --mdc-layout-grid-gutter-phone: 16px;
  --mdc-layout-grid-column-width-phone: 115px;
}

* {
  // Toggle Comment border stye & color (on/off) to see layout border.
  // border-style: solid;
  // border-color: #c22b10;

  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body,
html {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.brand {
  display: flex;
  align-items: center;
  height: 72px;
  margin-right: auto;
  padding-left: 24px;
}

.brand-title {
  display: none;
}

.mdc-banner {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 50px;
  background-color: #07103f;
  border-bottom: 1px solid #fff;
  position: fixed;
  height: 75px;
  width: 100%; 
}

.mdc-banner__text {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 40%;
  float: left;
  color: #FAF9F6;
}

.mdc-banner__actions a {
  position: absolute;
  margin-top: 20px;
  margin-left: 15px;
  font-size: 20px;
  color: #f5f4f2;
  float: right;
  text-decoration: underline;
  text-decoration-color: lightgray;
  text-underline-offset: 1px;
}


.brand-logo {
  display: block;
  width: 232.91px;
  height: 93.33px;
  margin-right: 16px;
}



.hero-container {
  background-color: #07103f;
  color: #fff;
}

.hero-image {
  width: 100%;
  height: fit-content;
  background-color: #07103f;
}

.about-text {
  padding-top: 137px;
}

.accessible-button {
  @include button.filled-accessible(white);
}

.footer {
  background-color: #000;
  color: #fff;
}

.footer-item {
  color: #000;
  margin-bottom: 1rem;
  margin-right: 2.5rem;
  font-size: 0.875em;
}
