/* All Use components */
// Color
@use "@material/theme" with (
  $primary: #09103C,
  $secondary: #ee2c3e,
  $on-primary: #fff,
  $on-secondary: #000,
  $on-error: #fff,
  $on-surface: #000,
  $background: #fff,
  $surface: #fff,
  $error: #c22b10
);
// button
@use "@material/button/styles";
// customize button
@use "@material/button";
// top app bar
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
// grid
@use "@material/layout-grid/mdc-layout-grid";
// typography
@use "@material/typography/mdc-typography";
// customize banner


/* All include components */
// top app bar
@include icon-button.core-styles;

/* CSS */

// grid
:root {
  --mdc-layout-grid-margin-desktop-hd: 32px;
  --mdc-layout-grid-gutter-desktop-hd: 32px;
  --mdc-layout-grid-column-width-desktop-hd: 69px;
  --mdc-layout-grid-margin-desktop: 32px;
  --mdc-layout-grid-gutter-desktop: 32px;
  --mdc-layout-grid-column-width-desktop: 51px;
  --mdc-layout-grid-margin-tablet: 32px;
  --mdc-layout-grid-gutter-tablet: 32px;
  --mdc-layout-grid-column-width-tablet: 64px;
  --mdc-layout-grid-margin-phone: 16px;
  --mdc-layout-grid-gutter-phone: 16px;
  --mdc-layout-grid-column-width-phone: 115px;
}

* {
  // Toggle Comment border stye & color (on/off) to see layout border.
  // border-style: solid;
  // border-color: #c22b10;
  text-decoration: none;

  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body,
html {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.brand {
  display: flex;
  align-items: center;
  height: 72px;
  margin-right: auto;
  padding-left: 24px;
  -webkit-font-smoothing: auto;
}

.brand-title {
  display: none;
}

.brand-logo {
  display: block;
  width: 232.91px;
  height: 93.33px;
  margin-right: 16px;
}

.landing-page-hero-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.accessible-button {
  @include button.filled-accessible(#09103c);
}

.mdc-banner {
  height: 50px;
  width: 30%;
  margin: auto;
  
}

.mdc-banner__text {
  font-size: 20px;
  margin-top: 15px;
  float: left;
  color: black;
}

.mdc-banner button {
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
  background-color: black;
  float: right;
  font-size: 20px;
}



.about-space-apps-pasadena-text {
  padding-bottom: 100px;
}

.about-text-red {
  color: #ee2c3e;
}

.footer {
  background-color: #000;
  color: #fff;
}

.footer-item {
  color: #000;
  margin-bottom: 1rem;
  margin-right: 2.5rem;
  font-size: 0.875em;
}
